footer#footer
        ul.icons
            li
                a.icon.fa-facebook(href='#' target='_blank')
                    span.label Facebook
            li
                a.icon.fa-instagram(href='https://www.instagram.com/flydecor_' target='_blank')
                    span.label Instagram
            li
                a.icon.fa-envelope(href='https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=flydecor65@gmail.com' target='_blank')
                    span.label Email
        p.copyright
            | &copy; 2020 | 
            b Foxy Snickers
            | . All Rights Reserved. 
            br
            | Designed by 
            a(style='text-decoration: none !important;' href='https://www.instagram.com/sushanthsk_/' target='_blank') Sushanth Sk
